*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

body {
  box-sizing: border-box;
  font-size: 1.8rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000;
}


// * HEADINGS

.heading-primary {
  font-size: 5.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.heading-title {
  font-size: 3.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: $color-primary;
}

.heading-quizz {
  font-size: 3.5rem;
  text-transform: uppercase;
  border-radius: .5rem;
  text-align: center;
  background-color: $color-primary;
  color: #fff;
}

.paragraph {
  color: $color-grey-dark;
  font-size: 1.8rem;
}

// * CLASS UTILS

.danger {
  color: #dc3545;
}
.success {
  color: #28a745;
}
.danger-bg {
  background-color: #dc3545;
}
.success-bg {
  background-color: #28a745;
}


.pointer {
  cursor: pointer;
}

.u-mt-sm {
  margin-top: 2rem;
}
.u-mt-b {
  margin-top: 10rem;
}
.u-mt-md {
  margin-top: 5rem;
}
.u-mb-m {
  margin-bottom: 3rem;
}

.u-cp {
  color: $color-primary;
}

.u-cs {
  color: $color-secondary;
}

.u-ct {
  color: $color-tertiary;
}
