// * HOME PAGE LAYOUT
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  margin: 0 auto;
  @include respond(vertical) {
    max-height: none;
  }
  .header {
    height: 90vh;

    @include respond(vertical) {
      height: auto;
    }
    .nav {
      width: 100vw;
      height: 15%;
      @include respond(vertical) {
        height: auto;
      }
    }

    .hero {
      height: 85%;
      margin: 0 auto;
      @include respond(vertical) {
        height: auto;
      }
    }
  }

  .footer {
    width: 100vw;
    height: 10vh;
     @include respond(vertical) {
      height: 10rem;
    }
  }
}

// * LOGIN PAGE LAYOUT
.login {
  background: linear-gradient(90deg, rgba(122,228,225,1) 0%, rgba(46,235,233,1) 47%, rgba(193,249,247,1) 99%);
  height: 100vh;
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

// * QUIZZES PAGE LAYOUT

.quizzes {
  
}