// * BOTONES
.btn {
  font-family: 'Work Sans', 'sans-serif';
  font-size: 2rem;
  color: $color-primary;
  font-weight: 500;
  text-decoration: none;
  outline: none;
  padding: 1.1rem 2rem;
  border-radius: 1.5rem;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s ease;

  &:not(:last-child) {
    margin-right: 2.5rem;
  }

  // BOTON CON FONDO
  &--full {
    background-color: $color-tertiary;
  }

  // BOTON SIN FONDO
  &--outline {
    border: 1px solid $color-tertiary;

    &:hover {
      background-color: $color-tertiary;
    }
  }

  &:hover {
    transform: translateY(-1rem);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
}
