.form {
    padding: 2rem;

    .label {
        display: block;
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: .5rem;
    }

    .input {
        border: 1px solid $color-primary;
        border-radius: 2px;
        width: 60rem;
        padding: .8rem;
        margin-bottom: 3rem;
        font-size: 1.7rem;
    }


    .form-action-button {
        background-color: #fff;
        color: $color-primary;
        height: 100%;
        margin-left: 1rem;
        width: 3rem;
        border-radius: .6rem;
        font-size: 2rem;
        cursor: pointer;
    }

    .form-correct {
        color: white;
        border-radius: .6rem;
        padding: 1rem;
        margin-left: 2rem;
    }

}